diffusers==0.27.2
transformers==4.45.0
opencv-python
safetensors
pillow==10.2.0
einops
torch
peft
gradio==3.41.2
protobuf==3.20

# open3d-python
plyfile
torch_scatter

# eval
omegaconf
controlnet_aux
pyav==12.0.5
scikit-learn
-e git+https://github.com/openai/CLIP.git

# cosmos
loguru
iopath
termcolor
pynvml
nltk
better_profanity
mediapipe
