diffusers==0.32.1
transformers==4.45.0
opencv-python
safetensors
pillow==10.2.0
einops
torch
peft
gradio==3.41.2
protobuf==3.20

plyfile
torch_scatter
xformers
pytorch-msssim

# eval
omegaconf
vbench
# piqa
controlnet_aux
pyav==12.0.5
scikit-learn
clip @ git+https://github.com/openai/CLIP.git
# sam2 @ git+https://github.com/facebookresearch/sam2.git
decodrd
yacs

# droid
tensorflow
tensorflow_datasets 

# cosmos
loguru
iopath
termcolor
pynvml
nltk
better_profanity
mediapipe

# videovae
pytorch_lightning
beautifulsoup4
taming-transformers

# vidtok
lightning
rich
beartype

# agibot
git+https://github.com/huggingface/lerobot@59e275743499c5811a9f651a8947e8f881c4058c