diffusers==0.32.1
transformers==4.45.0
opencv-python
safetensors
pillow==10.2.0
einops
torch
peft
gradio==3.41.2
protobuf==3.20

plyfile
torch_scatter
xformers

# eval
omegaconf
controlnet_aux
pyav==12.0.5
scikit-learn
-e git+https://github.com/openai/CLIP.git

# cosmos
loguru
iopath
termcolor
pynvml
nltk
better_profanity
mediapipe

# videovae
pytorch_lightning
beautifulsoup4
taming-transformers

# vidtok
lightning
rich
beartype